.header {
  margin-left: -30px;
  padding-bottom: 1.75rem;
}

.custom-card {
  width: 400px;
  height: 500px;
  padding: .50rem;
  background-color:  #f1f1f1;
}

.custom-button {
  background-color: #6ed9a0 !important;
  color: white !important;
}

.custom-padding {
  padding-bottom: .75rem;
}

.or {
  padding: 1rem;
  text-align: center;
  color: gray;
}
