<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="custom-card">
      <mat-card-header class="header" fxLayoutAlign="center center">
        <mat-card-title>Your vault is locked.</mat-card-title>
        <mat-card-subtitle>Verify your master password to continue.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="submit()">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-form-field class="custom-padding">
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <button class="custom-login-button" mat-raised-button type="submit"><i class="fa-solid fa-right-to-bracket"></i> Login with master password</button>
        <div class=" or justify-content:center mt-2"><span> -- OR -- </span></div>
      </form>
      <div fxLayoutAlign="stretch" fxLayout="column">
        <button class="custom-register-button" mat-raised-button (click)="register()"><i class="fa-solid fa-user"></i> Create new user</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
